<%= form_for(@admin_unit_type) do |f| %>
  <% if @admin_unit_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_unit_type.errors.count, 'error') %> prohibited this admin_unit_type from being saved:</h2>

      <ul>
      <% @admin_unit_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
