<div class="row">
  <%= link_to(t('actions.back'),'javascript:history.go(-1);',  class:"icon-angle-left" ) %>

  <div class="small-12 columns">
    <h3><%= t('admin.unit_types.edit') %></h3>
  </div>
  <div class="small-12 columns">
    <%= render 'form' %>
  </div>
</div>