<div class="small-12 columns">
  <p> Asignación de unidades a los departamentos para el calculo de RPT asignada a cada unidad. </p>
  <ul class="note">
    <li>Último periodo creado        : <%= @process_year %>     </li>
    <li>Última RPT cargada           : <%= @rpt_year %>         </li>
    <li>Última asignación de unidades: <%= @assignation_year %> </li>
  </ul>
</div>
