    <div class="small-12 columns">
      <label> Tipo de indicador: </label>
    </div>
    <div class="small-12 columns">
      <label class="note"> <%= t('manager.indicators.update.total_indicators') %> </label>
    </div>
    <% total_indicators = @indicator.indicator_metrics.find(params[:indicator_metric]).total_indicators %>
    <% @item_summary_types.each do |item_summary_type| %>
      <div class="small-6 medium-2 columns end">
        <%= label_tag :summary_type_id, item_summary_type.description %>
        <%= select_tag :summary_type_id,
                       options_for_select(@total_indicator_types, summary_type_selected(params[:indicator_metric], item_summary_type.id)),
                       label: false, placeholder: t('manager.indicators.form.source') %>
      </div>
    <% end %>
