<%= render partial: 'manager/shared/header',
           locals: {title: t("manager.indicators.#{action_name}.title"),
                    button: t("manager.indicators.index.create"),
                    path: new_manager_indicator_path(sub_process_id: @sub_process.id),
                    modifiable: @sub_process.modifiable?,
                    period: @sub_process.main_process.period, main_process: @sub_process.main_process,
                    sub_process: @sub_process, indicator: nil, indicator_metric: nil  } %>

<div>
  <% if @indicators.nil? || @indicators.empty? %>
    <strong> <%=t('manager.indicators.index.empty') %> </strong>
  <% else %>
    <%= render 'item_list' %>
  <% end %>
</div>
