<%= render partial: 'manager/shared/header',
           locals: {title: t("manager.indicators.#{action_name}.title"),
                    button: nil, path: nil, modifiable: true,
                    period: @sub_process.main_process.period, main_process: @sub_process.main_process,
                    sub_process: @sub_process, indicator: nil, indicator_metric: nil  } %>
<div class="small-12 column">
  <%= render "form" %>
</div>
