<div class="dashboard">
  <h2><%= t("admin.dashboard.index.title") %></h2>

  <p>Desde aquí puedes administrar el sistema, a través de las siguientes acciones:</p>

  <h3>Procesos, subprocesos y tareas</h3>
  <p>Estas opciones permiten <strong>añadir, eliminar o modificar</strong> los items que se utilizaran en el análisis de la carga de trabajo de las unidades.</p>

  <h3>Organizaciones</h3>
  <p>Hay dos tipos de organizaciones SGTs y Distritos cargadas en el sistema. Está opcion permite revisarlas y, si se estima oportuno, wliminar, añadir alguna nueva o modificar una existente.</p>

  <h3>Configuración Global</h3>
  <p>Opciones generales de configuración del sistema.</p>

  <h3>Estadísticas</h3>
  <p>Estadísticas generales del sistema.</p>
</div>
