<div class="dashboard">
  <h2><%= t("admin.dashboard.index.title") %></h2>

  <p>Desde aquí se configuran los parámetros de la aplicación y la estructura organizativa para:</p>

  <h5>Usuarios</h5>
  <p>Desde aquí se pueden consultar los usuarios autorizados en la aplicación y manejar sus permisos y roles.</p>

  <h5>Organizaciones</h5>
  <h6>Tipos de oganizaciones</h6>
    <p>Con esta opción se pueden definir los tipos de organizaciones que se pueden gestionar con esta aplicación. En cualquier momento se pueden incuir nuevas organizaciones según las necesidades, ejemplo: SGT, JD, ÁG, OOAA. Está opcion permite revisar su denominación, y, si se estima oportuno, eliminar, añadir alguna nueva o modificar una existente.</p>

  <h6>Tipos de unidades</h6>
    <p>Una organización puede tener distintos tipos de unidades con distintos procesos de trabajo.
    En el caso de los Distritos, correspondería con la estructura departamental general de un Distrito que se replica en los 21: Cultura, Participación ciudadana, Sanidad y consumo, etc.
    Cada tipo de organización debe tener al menos un Tipo de unidad, por lo que, cuando se crea un nuevo tipo de organización se crea por defecto un tipo de unidad con la misma denominación que el tipo de organización, que posteriormente puede eliminarse al introducir otros tipos de unidades.</p>

  <h6>Organizaciones  y unidades </h6>
    <p>Las organizaciones principales y sus unidades dependientes se cargan desde el Directorio Municipal. Mediante esta opción se pueden revisar las organizaciones incluidas en cada tipo de organización y sus unidades

  <h6>Plantilla </h3>
    <p><strong>Opcion pendiente de desarrollo</strong> Forzar la distribución de la plantilla
  </h5>

  <h5>Configuración Global</h5>
    <p>Opciones generales de configuración de la aplicación.</p>

  <h5>Estadísticas</h5>
    <p>Estadísticas generales del sistema.</p>
</div>
