<div class="row">
  <div class="small-12 columns highlight text-center">
    <h2><%= t("instructions.#{params[:organization_type]}.title")%></h2>
    <h3><%= t("instructions.#{params[:organization_type]}.subtitle")%></h3>
  </div>
</div>

<%= render "#{params[:organization_type]}" %>

