<div class="globalWrapper">
<div id="tableOfContents">
<h2><a id="toc" href="#">Table of Contents</a></h2>
<div class="sectionsWrapper closed">
<dl class="sections">
<dt><a class="subsection" href="#">1. Definitions</a></dt>
<div class="subsectionContent">
<dd><a href="#sec11" data-offset="70">1.1. What is design?</a></dd>
<dd><a href="#sec12" data-offset="70">1.2. What is good design?</a></dd>
<dd><a href="#sec13" data-offset="70">1.3. Ten principles of good design</a></dd>
<dd><a href="#sec14" data-offset="90">1.4. An example</a></dd>
<dd><a href="#sec15" data-offset="90">1.5. Video: <i>Objectified</i> trailer</a></dd>
<dd><a href="#sec16" data-offset="90">1.6. Is your product well-designed?</a></dd>
</div>
<dt><a class="subsection" href="#">2. Different kinds of design</a></dt>
<div class="subsectionContent">
<dd><a href="#sec21" data-offset="80">2.1. Graphic Design</a></dd>
<dd><a href="#sec22" data-offset="80">2.2. Interaction Design</a></dd>
<dd><a href="#sec23" data-offset="90">2.3. Industrial Design</a></dd>
</div>
<dt><a class="subsection" href="#">3. Data: what does the industry think?</a></dt>
<div class="subsectionContent">
<dd><a href="#sec31" data-offset="90">3.1. What qualities of design do startups <br/>consider most important?</a></dd>
<dd><a href="#sec32" data-offset="90">3.2. How important is product design?</a></dd>
<dd><a href="#sec33" data-offset="90">3.3. How deep does design go?</a></dd>
</div>
<dt><a class="subsection" href="#">4. Designer Founders: the missing link</a></dt>
<div class="subsectionContent">
<dd><a href="#sec41" data-offset="90">4.1. Startups + designers = ?</a></dd>
<dd><a href="#sec42" data-offset="90">4.2. Meet the Designer Founders</a></dd>
<dd><a href="#sec48" data-offset="50">4.8. Changing the world</a></dd>
</div>
<dt><a class="subsection" href="#">5. Finding great talent</a></dt>
<div class="subsectionContent">
<dd><a href="#sec51" data-offset="250">5.1. Okay, I need a designer.</a></dd>
<dd><a href="#sec52" data-offset="250">5.2. Go Where the designers are</a></dd>
<dd><a href="#sec53" data-offset="100">5.3. A note about Unicorns by Sacha Greif</a></dd>
<dd><a href="#sec54" data-offset="220">5.4. Resources</a></dd>
</div>
<dt><a class="subsection" href="#">About me & Acknowledgements</a></dt>
<div class="subsectionContent">
<dd><a href="#section6" data-offset="70">6.&nbsp;&nbsp;&nbsp;About me</a></dd>
<dd><a href="#section7" data-offset="90">7.&nbsp;&nbsp;&nbsp;Acknowledgements</a></dd>
</div>
</dl> 
</div> 
</div> 