<li class="modal-error-title">
  <p class="modal-error-title"><%= t('entry_indicators.form.error.title.no_change_staff')%> </p>
  <p><%= t('entry_indicators.form.error.p1.no_change_staff_html')%></p>
  <p><%= t('entry_indicators.form.error.p2.no_change_staff_html')%></p>
  <a class="hollow button" onclick="cancelChange()"> <%= t('entry_indicators.form.button.cancel_change') %></a>
</li>