<div class="staff row">
  <table>
    <thead>
      <tr>
        <th class="small-10 columns text-center"> <%= (t(".#{process.class.name}.title")) %></th>
      </tr>
      <tr>
        <% @official_groups.each do |gr| %>
          <th class="small-2 columns end text-center"><%= gr.name %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @official_groups.each do |gr| %>
          <td class="small-2 columns end text-center">
            <% group_value = get_staff(of, process, gr, unit, period) %>
            <% if @period.open_entry? && of == "SubProcess"%>
              <%= text_field_tag("SubProcess[#{process.id}][#{gr.name}]", group_value, class: "inline", placeholder: gr.name) %>
            <% else %>
              <%=  group_value %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>