<div class="staff medium-3 short-3 columns">
  <table>
    <thead>
      <tr>
        <th colspan="5" class="text-center"> EFECTIVOS </th>
      </tr>
      <tr>
        <% @official_groups.each do |gr| %>
          <th><%= gr.name %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <tr>
        <% @official_groups.each do |gr| %>
          <td>
            <% if @period.open %> <!-- scope que sustituye a is_open? -->
              <input id = "<%= gr.name %>" placeholder="<%= gr.name %>">
            <% else %>
              <%= get_staff(of, process, gr, unit) %>
            <% end %>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>