<section class="submenu">
<div class="row">
  <div class="length-12 short-12 columns">
    <% @units.each do |unit| %>
      <%= link_to unit.description_sap,
                  current_path_with_query_params(unit: unit.id) %>
  <% end %>
  </div>
</div>
</section>
