<div class="row unit_nav">
  <div class="length-12 short-12 columns">
    <ul>
      <% @units.each do |unit| %>
        <% puts unit.id  %>
        <% puts unit.description_sap %>
        <li>
          <%= link_to unit.description_sap,
                  current_path_with_query_params(unit: unit.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

