<p id="notice"><%= notice %></p>
<%= render 'unit_tabs' %>
<div class="row tab_title " >
  <div class="long-8 short-8 columns text-center">
    <div class="panel corporativo ">
      <h2><%= t("entry_indicators.index.title") %> los Distritos</h2>
      <h3>Periodo de análisis 2015 </h3>
    </div>
  </div>
</div>

<%= render "ficha" %>

