<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="RPT">
    <ss:Styles>
      <ss:Style ss:ID="Default" ss:Name="Normal">
        <ss:Alignment ss:Vertical="Bottom"/>
        <ss:Borders/>
        <ss:Font ss:FontName="Calibri" x:Family="Swiss" ss:Size="11" ss:Color="#000000"/>
        <ss:Interior/>
        <ss:NumberFormat/>
        <ss:Protection/>
      </ss:Style>
      <ss:Style ss:ID="s67">
        <ss:Alignment ss:Vertical="Bottom"/>
        <ss:Borders/>
        <ss:Font ss:FontName="Arial" ss:Bold="1"/>
        <ss:Interior ss:Color="#9BC2E6" ss:Pattern="Solid"/>
        <ss:NumberFormat/>
        <ss:Protection/>
      </ss:Style>
    </ss:Styles>
    <Table>
      <Row ss:StyleID="s67">
        <% Rpt.export_columns.each do |col| %>
          <Cell><Data ss:Type="String"><%= col %></Data></Cell>
        <% end %>
      </Row>
      <% @organization_types.each do |type| %>
        <% type.organizations.each do |organization| %>
          <% organization.rpts.by_year(@year).each do |position| %>
            <Row>
              <% Rpt.export_columns.each do |col| %>
                <Cell><Data ss:Type="Number"><%= position.send(col.to_sym) %></Data></Cell>
              <% end %>
            </Row>
          <% end %>
        <% end %>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>
