<% if current_user %>

  <% if current_user.has_role? :admin %>
    <li>
      <%= link_to t('layouts.header.administration'), admin_root_path %>
    </li>
  <% end %>

  <% if (current_user.has_role? :validator, :any) || (current_user.has_role? :validator) %>
    <li>
      <%= link_to t('layouts.header.management'), supervisor_root_path %>
    </li>
  <% end %>

  <% if (current_user.has_role? :validator, :any) || (current_user.has_role? :validator) %>
    <li>
      <%= link_to t('layouts.header.validation'), root_path %>
    </li>
  <% end %>

  <li>
    <%= link_to t('application.close'), session_path, method: :DELETE %>
  </li>

<% end %>
