<!-- Esto de comprobar el login pero hasta que no este funcionando devise no se ponen los ifs recuperarlos luego de consul -->
    <li>
      <%= link_to t("layouts.header.administracion"), admin_root_path %>
    </li>
    <li>
      <%= link_to t("layouts.header.gestion"), admin_root_path %>
    </li>
    <li>
      <%= link_to t("layouts.header.validacion"), admin_root_path %>
    </li>
    <li>
      <%= link_to t("application.close"), root_path %>
    </li>
