<% if current_user %>

  <% if current_user.has_role? :admin %>
    <li>
      <%= link_to t('layouts.header.administracion'), admin_root_path %>
    </li>
  <% end %>

  <% if current_user.has_role? :manager %>
    <li>
      <%= link_to t('layouts.header.gestion'), manager_root_path %>
    </li>
  <% end %>

  <% if current_user.has_role? :validator %>
    <li>
      <%= link_to t('layouts.header.validacion'), root_path %>
    </li>
  <% end %>

  <li>
    <%= link_to t('application.close'), session_path, method: :DELETE %>
  </li>

<% end %>
