<div class="row">
  <div class="medium-10 medium-offset-2 column">
    <ul>
      <% if current_user %>
        <li>
          <%= # noinspection RubyQuotedStringsInspection,RubyQuotedStringsInspection,RubyQuotedStringsInspection,RubyQuotedStringsInspection
              link_to t("subnavigation_menu.entry_indicators"), user_access_index_path, class: ("active" if controller_name == "user_access") , accesskey: "e" %>
        </li>
        <li>
          <%= # noinspection RubyQuotedStringsInspection,RubyQuotedStringsInspection,RubyQuotedStringsInspection,RubyQuotedStringsInspection
              link_to t("subnavigation_menu.instructions"), instructions_path, class: ("active" if controller_name == "instructions") , accesskey: "i" %>
        </li>

        <li>
          <!--%= #link_to t("subnavigation_menu.instructions"), in_works_path, class: ("active" if controller_name == "faq"), accesskey: "i" %-->
        </li>
      <% end %>
    </ul>
  </div>

</div>
