
<div class="small-12 medium-9 column">
  <ul>
    <li>
      <%= link_to "Tareas", root_path, class: ("active" if controller_name == "user"), accesskey: "d" %>
    </li>

    <li>
      <%= link_to "Informes", root_path, class: ("active" if  controller_name == "subproceso"), accesskey: "p" %>
    </li>

    <li>
      <%= link_to "Otros", root_path, class: ("active" if controller_name == "otros"), accesskey: "s" %>
    </li>
  </ul>
</div>
