<div class="row">
  <div class="small-12 columns">
    <div class="small-8 columns">
      <h2>INDICE :<%= t("manager.#{resource}.#{action}.title") %>  </h2>
    </div>
    <div  class="small-1 column">
      <a class="back" href="javascript:history.back()">
        <span class="icon-angle-left">aquie estoy escribino</span>
        <%= t("actions.back") %>
      </a>
    </div>
  </div>
</div>
