<section class="top-links hide-for-small-only">
  <div class="row">
    <div  class="small-12 columns">
      <div class="external-links small-2 columns end">
        <%= link_to "Ayre", setting["ayre_url"], class: ("selected") %>
      </div>
      <div class="external-links small-10 columns end ">
      <%= if current_user
            current_user.full_name
          else
            "No se ha iniciado sesión: usuario no conectado"
          end  %>
       </div>
    </div>
  </div>
</section>
