<section class="top-links hide-for-small-only">
  <div class="row">
      <%= "Marta Gómez Morales"  %>
    <div class="external-links">
      <%= link_to "Ayre", setting["ayre_url"], class: ("selected") %>
    </div>
  </div>
</section>
