<%= render "admin/shared/index" %>

<h2><%= t("admin.sub_processes.index.title") %></h2>
  <% if @sub_processes.nil? %>
    <%= render 'admin/shared/in_works' %>
  <% else %>
    <%= render 'item_list' %>
  <% end %>
</p>