<div class="callout" id="organization_#{organization.id}">
  <table>
    <thead>
     <tr> <th colspan="3"><%= organization.description %></th> </tr>
    </thead>
    <tbody>
      <% organization.organization_type.periods.order(started_at: :desc).each_with_index do |period, index| %>
        <% if index % 3 == 0 %>
          <tr>
        <% end %>
         <td>
            <%= link_to period.description, entry_indicators_path(organization_id: organization.id,  period_id: period.id)%>
         </td>
        <% if index % 3 == 2 %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
