<div class="callout" id="<%="organization_#{organization.id}"%>">
  <table>
    <thead>
     <tr> <th colspan="3"><%= organization.description %></th> </tr>
    </thead>
    <tbody>
      <% organization.organization_type.periods.each_with_index do |period, index| %>
        <% if index % 1 == 0 %>
          <tr>
        <% end %>
         <td >
            <%= link_to period_status_text(period),
                        entry_indicators_path(organization_id: organization.id, period_id: period.id),
                        {class: ("period_open" if period.open_entry?) }
            %>
         </td>
        <% if index % 1 == 0 %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
