
<div> <br><br></div>
<div class="expanded highlight padding no-margin-top">
  <center>
    <H1>PROCESOS</H1>
      <h3>Esta es la página inicial de la aplicación</h3>
      <h3>Aquí se mostrarán los formularios para que las unidades realicen la introducción de datos</h3>
      <p>En el menú y en el pie de la página aparece un enlace a una página de "FAQ" donde se pueden incluir las instrucciones a las unidades en el formato de dudas frecuentes</p>
      <p> También queda por definir y desarrollar otras opciones que aparecerán en el menú y en el pie de página, por ejemplo "Informes". </p>
  </center>
</div>
<div> <br><br></div>

