
<div> <br><br></div>
<div class="row text-center margin highlight">
      <H1>Organización del trabajo en unidades municipales</H1>
      <h2>Estudio de cargas</h2>

</div>
<div> <br><br></div>

<div class="row text-center margin">
  <div class="medium-12 column">
    <%= image_tag('logo_gerencia_ciudad.png', class: 'float-center', size: '300x300', alt: "Logo Gerencia de la Ciudad") %>
  </div>
</div>


