<div> <br><br></div>
<div class="expanded highlight padding no-margin-top">
  <center>
    <div class="medium-12 ">
      <a class="back" href="javascript:history.back()">
        <span class="icon-angle-center"></span>
        <%= t("actions.back") %>
      </a>
      <%= image_tag('en_obras.png', class: 'float-center', size: '40x40', alt: t("layouts.header.logo")) %>

      <h3>¡¡¡¡ Página en CONSTRUCCIÓN !!!!</h3>
    </div>
  </center>
</div>