<%= render partial: 'supervisor/shared/header',
           locals: {title: t("supervisor.sub_processes.#{action_name}.title",
                             process_name:t("supervisor.process_name.plural.#{process_name(@main_process.period, controller_name)}")),
                    button: t('supervisor.sub_processes.index.create',
                              process_name:t("supervisor.process_name.plural.#{process_name(@main_process.period, controller_name)}")),
                    path: nil, modifiable: @main_process.modifiable?,
                    period: @main_process.period, main_process: @main_process, sub_process: nil, indicator: nil,
                    indicator_metric: nil, index_path: supervisor_main_processes_path(period_id: @main_process.period.id, main_process_id: @main_process.id)} %>

<div class="small-12 column">
    <%= render 'form' %>
</div>