<%= form_for(@subtypeorg) do |f| %>
  <% if @subtypeorg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subtypeorg.errors.count, "error") %> prohibited this subtypeorg from being saved:</h2>

      <ul>
      <% @subtypeorg.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
