<%= render partial: 'supervisor/shared/header',
           locals: {title: t("supervisor.main_processes.#{action_name}.title",
                            process_name: t("supervisor.process_name.plural.#{process_name(@period, controller_name)}")).capitalize,
                    button: t('supervisor.main_processes.index.create_button',
                              process_name: t("supervisor.process_name.plural.#{process_name(@period, controller_name)}")).capitalize,
                    path: new_supervisor_main_process_path(period_id: params['period_id']),
                    modifiable: @period.modifiable?,
                    period: @period, main_process: nil, sub_process: nil, indicator: nil, indicator_metric: nil  } %>
<div>

  <% if @main_processes.nil? || @main_processes.empty? %>
    <strong> <%= t('supervisor.main_processes.index.empty',
                   process_name: t("supervisor.process_name.plural.#{process_name(@period, controller_name)}")).capitalize %>
    </strong>
  <% else %>
    <%=  render 'item_list' %>
  <% end %>
</div>
