<%= render partial: 'supervisor/shared/header',
           locals: {title: t("supervisor.main_processes.#{action_name}.title",
                             process_name:t("supervisor.process_name.plural.#{process_name(@period, controller_name)}")),
                    button: nil, path: nil,
                    modifiable: @period.modifiable?,
                    period: @period, main_process: nil, sub_process: nil, indicator: nil, indicator_metric: nil  } %>

<div class="small-12 column">
  <%=  render 'form' %>
</div>
