<p id="notice"><%= notice %></p>

<div class="row">
  <div class="corporativo small-12 columns">
    <h3>Indicadores por proceso</h3>
    <h4><%= @period.description %></h4>
    <h4><%= @organization_type.description %></h4>
  </div>
</div>

<div class="row">
  <%= render "card" %>
</div>
