<div class="row">
  <div class="small-12 columns" >
    <h3>Logs del sistema, entorno:  <%= Rails.env %></h3>
  </div>
</div>

<div class="row">
  <div class="small-12 columns" >

    <% files_by.time.each do |file| %>
       <%= File(file).original_name %>
    <% end %>

    <% Dir.entries('/home/phn001/workspace/ancar/log').each do |file| %>
       <%= File().original_name %>
    <% end %>

  </div>
</div>