<p id="notice"><%= notice %></p>
<div class="row unit" >
  <div class="long-12 short-12 columns text-center">
    <div class="panel long-2 short-2 columns">
      <h4><%= t("entry_indicators.index.title") %> los Distritos</h4>
      <h4>Periodo de análisis 2015 </h4>
    </div>
   </div>
</div>
<%= render "ficha" %>

