
// Table of Contents - Styles ancar
// 01. Welcome
// 02. Ficha de indicadores
// 03. Indicator form
// 04. Main Process form
// 05. Sub process form
// 06. Task form
// 07. generales

// 01. Welcome
// - - - - - - - - - - - - - - - - - - - - - - - - -
.welcome {
  background: $body;
  text-align: center;
  margin-bottom: rem-calc(12);
}

.welcome_logo{
  float: center;
  padding: rem-calc(120) rem-calc(120) 0 rem-calc(200);
  width: rem-calc(300);
  height: rem-calc(300);
  margin-top: rem-calc(12);
  margin-bottom: rem-calc(20);
}

// 02. Ficha de indicadores
// - - - - - - - - - - - - - - - - - - - - - - - - -

.ficha_indicadores {
   margin-left: rem-calc(12);
   margin-right: rem-calc(12);
}

.corporativo {
  background: $brand;
  color: white;
  text-align: center;
  margin-bottom: rem-calc(12);
  min-height: rem-calc(19);
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(2);
}

.unit{
  background: $body;
  color: blank;
  text-align: center;
  box-shadow: 0px 1px 3px 0 $border;
  margin-bottom: rem-calc(12);
  min-height: rem-calc(19);
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(2);
}

.main_process {
  color: white;
  background: $cobalto;
  box-shadow: 0px 1px 3px 0 $border;
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(12);
  margin-left: rem-calc(12);
  margin-right: rem-calc(12);
}

.sub_process {
  color: white;
  background: lighten($turquesa, 5%);
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(12);
  margin-right: rem-calc(12);
  margin-left: rem-calc(12);
}

.indicator {
  font-size: rem-calc(12);
  padding: 0 0 0 0;
  border: 1px;

  th {
    background: darken($body, 10%);
    text-align: left;
  }
  #indicator {
    width: 40%;
    font: bold;
  }

}

.staff {
  padding: 0 0 0 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
  th {
   background: darken($body, 10%);
  }
  #title td{
      padding: 0 0 0 0;
      border-bottom: 1px solid #ddd;
  }
}

.group{
  width: 100%;
  padding:0 0 0 0;
  margin-left:0;
  margin-right: 0;
}

.unit_nav {
  padding:  rem-calc(12) rem-calc(12) 0 rem-calc(12);
  font-size: rem-calc(11);
  a {
    color: gray;
  }
  li{
    width:33.333%;
    float:left;
    display:inline;
  }
  ul{
    overflow:hidden;
  }
}

// 03. Indicator form
// - - - - - - - - - - - - - - - - - - - - - - - - -

.input-indicator {
  width: 25%;
}