
// Table of Contents - Styles ancar
// 01. Welcome
// 02. Ficha de indicadores
// 03. Indicator form
// 04. Main Process form
// 05. Sub process form
// 06. Task form
// 07. generales

// 01. Welcome
// - - - - - - - - - - - - - - - - - - - - - - - - -
.welcome {
  background: $body;
  text-align: center;
  margin-bottom: rem-calc(12);
}

.welcome_logo {
  float: center;
  padding: rem-calc(120) rem-calc(120) 0 rem-calc(200);
  width: rem-calc(300);
  height: rem-calc(300);
  margin-top: rem-calc(12);
  margin-bottom: rem-calc(20);
}

// 02. Ficha de indicadores
// - - - - - - - - - - - - - - - - - - - - - - - - -

.ficha_indicadores {
   margin-left: rem-calc(12);
   margin-right: rem-calc(12);
   margin-bottom: rem-calc(0);
}

.corporativo {
  background: $brand;
  color: white;
  text-align: center;
  min-height: rem-calc(19);
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(2);
}

.unit{
  background: $body;
  color: blank;
  text-align: center;
  box-shadow: 0px 1px 3px 0 $border;
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(2);
}

.main_process {
  color: white;
  background: $cobalto;
  box-shadow: 0px 1px 3px 0 $border;
  padding: rem-calc(12) rem-calc(012) 0 rem-calc(12);
  margin-top: rem-calc(20);

}

.sub_process {
  color: white;
  background: lighten($turquesa, 5%);
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(12);
}

.staff {
  border: 14px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: inset 0 1px 2px white;
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(0);
  background: lighten(orange, 35%);
  font-size: rem-calc(12);
    #title{
      text-align: center;
      font-weight: $global-weight-bold;
      border: 14px;
    }

    #header{
      text-align: center;
      font-weight: $global-weight-bold;
      border: 14px;
    }

}

.indicator {
  font-size: rem-calc(12);
  padding: 0 0 0 0;
  border: 1px;
  text-align: left;
  margin-bottom: 0;

  th {
    background: darken($body, 10%);
  }

  #indicator {
    width: 40%;
    font: bold;
  }

  #indicator_col {
    width: 35%;
    font: bold;
  }

  #metric_col {
    width: 15%;
  }

  #source_col {
    width: 15%;
  }

  #amount_col {
    width: 10%;
  }
}

.group{
  width: 100%;
  padding:0 0 0 0;
  margin-left:0;
  margin-right: 0;
}

.unit_nav {
  padding:  rem-calc(12) rem-calc(12) 0 rem-calc(12);
  font-size: rem-calc(11);
  a {
    color: gray;
  }
  li{
    width:33.333%;
    float:left;
    display:inline;
  }
  ul{
    overflow:hidden;
  }
}

.summary{
  margin-top: rem-calc(12);
  background: lighten($verde, 35%);
  color: blank;
  text-align: left;
  box-shadow: 0px 1px 3px 0 $border;
  padding: rem-calc(12) rem-calc(12) 0 rem-calc(2);
}
