
// Table of Contents - Styles ancar
// 01. Welcome
// 02. Ficha de indicadores
// 03. Resumen de procesos
// 04.
// 05. Reveal
// 06. Print
//
// - - - - - - - - - - - - - - - - - - - - - - - - -

main {
  margin-left: 10px;
}
.note{
  font-size: $small-font-size;
  font-style: italic;
 }

.ancar-error{
  display:block;
  margin-top: 80px;
  margin-left: 100px;
  width: 75%;
  height:auto;
  padding: 20px;
  background-color: lightcoral;
  text-align: center;
 }

// 01 Welcome

.welcome {
  background: #F2F3F4;
  text-align: center;
  margin-bottom: rem-calc(12);
 }

.welcome_logo {
  padding: rem-calc(120) rem-calc(120) 0 rem-calc(200);
  width: rem-calc(300);
  height: rem-calc(300);
  margin-top: rem-calc(12);
  margin-bottom: rem-calc(20);
 }

// 02. Entry indicators
// - - - - - - - - - - - - - - - - - - - - - - - - -

.entry-indicators-buttons {
  margin-top: 20px;
}

.corporativo {
  background: $brand;
  color: white;
  text-align: center;
  min-height: rem-calc(19);
  padding: rem-calc(12);
  padding-bottom: 0;
  margin-bottom: rem-calc(12);
}

.unit {
  background: $body;
  color: black;
  box-shadow: 0 1px 3px 0 $border;
  margin: 0;
  padding-top: rem-calc(12);
  border: 1px solid $cobalto;
  }

.main-process {
  color: white;
  background: $brand;
  box-shadow: 0 0 0 2px $cobalto;
  margin-bottom: rem-calc(20);
  padding: rem-calc(12);
  padding-bottom: 0;
}

.sub-process {
  color: white;
  background: lighten($turquesa, 5%);
  padding: rem-calc(12);
  text-align: left;
}

table.sub-process-tab {
  margin-bottom: 0;
  th, td {
    padding: rem-calc(12) rem-calc(6);
  }

  td {
    font-size: rem-calc(12);
    padding-bottom: rem-calc(5);
    padding-top: 0;
    background-color: #E9E9E9;

    &.indicator-description {
      width: 70%;
      font-size: rem-calc(16);
      padding-left: rem-calc(10);
    }
  }

  input {
    font-size: rem-calc(14);
    height: auto !important;
    margin: rem-calc(6) 0 !important;
    &.group {
      width: rem-calc(40);
      text-align: center;
    }
  }
}

tr {
  &.indicator-row {
    border-top: 2px solid #A2A2A2;
  }
}

table.indicator-metric {
  margin-bottom: 0;

  thead tr{
    border: 0;
  }

  td {
    border: none;
    background-color: white;
  }

  th, td {
    padding: rem-calc(12) rem-calc(6);

    &.indicator-metric {
      padding-left: rem-calc(50);
      text-align: left;
    }

    &.indicator-metric-short {
      padding-left: rem-calc(50);
      text-align: left;
      width: 45%;
    }

    &.indicator-metric-source {
      width: 17%;
    }

    &.indicator-ten {
      width: 10%;
    }

    &.indicator-five {
      width: 5%;
    }

    &.indicator-fifteen {
      width: 15%;
    }

  }

  td {
    font-size: rem-calc(12);
    padding-bottom: rem-calc(5);
    padding-top: 0;
  }

  .indicator-metric-amount {
    width: rem-calc(160);
    text-align: right;
  }

  input {
    font-size: rem-calc(12);
    height: auto !important;
    margin: rem-calc(6) 0 !important;
    width: 100%;
    &.amount {
      text-align: right;
    }
  }
}

.staff {
  margin: 0;
  font-size: rem-calc(14);
  display: block;
  margin-bottom: 25px;

  td.justification {
    border-top: 2px solid $cobalto;
  }

  caption {
    font-size: 1.2rem;
    margin-bottom: 5px;
  }

  thead {
    border: 1px solid #A2A2A2;
  }

  tbody {
    border: 2px solid #A2A2A2 !important;
  }

  th {
    background: $body;
    border: 1px solid $cobalto;
  }

  th.position {
    width:  35%;
  }

  tr {
    background-color: #efe7c9;
    font-size: rem-calc(16);
  }

  tr:last-child td {
    border-bottom: 1px solid $cobalto;
    padding-bottom: rem-calc(10);
  }

  td {
    border: 1px solid $border;
  }

  .input_staff {
    margin-bottom: 0 !important;
    height: rem-calc(30) !important;
  }

  .justification{
    height: 100px;
  }
}

.approval {
  display: block;
  border: 1px solid #bcbcbc;
  background-color: #eeeeee;
  width: 70%;
  margin-bottom: rem-calc(20);
  margin-left: rem-calc(180);
  margin-top: rem-calc(20);
  padding-top: rem-calc(10) ;
}

p.approval-data, p.approval-comment, p#pending-title  {
  font-weight: bold;
}

p#pending-title {
  text-align: center;
}

p.approval-data {
  padding-left: rem-calc(150);
}

p.approved{
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
  text-align: center;
  padding: 10px ;
}

div.approval-pending {
  display: block;
  border: 1px solid #bcbcbc;
  background-color: lightpink;
  width: 70%;
  margin-left: rem-calc(180);
  margin-top: rem-calc(20);
  margin-bottom: rem-calc(20);
  padding: 10px ;
}

textarea.approval-comment {
  min-height: rem-calc(100);
}

.group {
  padding: 0;
  margin: 0;
}

.unit_nav {
  padding:  rem-calc(12) rem-calc(12) 0 rem-calc(12);
  font-size: rem-calc(11);

  a {
    color: gray;
  }

  ul {
    overflow:hidden;

    li {
      width: 33.333%;
      float: left;
      display: inline;
    }
  }
}

.modal-title {
  font-size: rem-calc(40);
  font-weight: bold;
  text-align: center;
  margin-bottom: rem-calc(40);
}

.modal-error-title {
  font-size: rem-calc(20);
  font-weight: bold;
}

ul.error-detail {
  font-weight: normal;
  font-size: medium;
}

// 03. Resumen de procesos

.summary {
  margin-top: rem-calc(12);
  background: lighten($verde, 35%);
  color: black;
  text-align: left;
  box-shadow: 0 1px 3px 0 $border;
  padding: rem-calc(2) rem-calc(2) rem-calc(2) rem-calc(2);
}

.card {
  border: 2px solid $border;
  background: $body;
  font-size: rem-calc(12);
  margin-top: rem-calc(20);
  padding-bottom: rem-calc(20);

  .card-content {
    padding: 0 rem-calc(20);
  }

  &:last-child {
    margin-bottom: rem-calc(80);
  }

  .main-process {
   color: $body;
   background: $brand;
   padding: rem-calc(12);
   padding-bottom: 0;
  }

  .sub-process {
    color: white;
    background: lighten($turquesa, 5%);
    padding: rem-calc(12);
    padding-bottom: 0;
  }

  .accordion, .accordion-content {
    background: none;
    color: black;

    .accordion-title {
      border: 0;

      &:hover, &:focus {
        background: white;
      }

      &:before {
        font-size: rem-calc(24);
        font-weight: bold;
        margin-top: -14px;
      }
    }
  }

  table {
    table-layout: fixed;
    margin-bottom: 0;

    tbody, thead, th {
      background: $body;
      border: 0;
    }

    thead {
      border-bottom: 2px solid $cobalto;
    }

    th:first-child {
      width: 40%;
    }

    tr {
      background: $body;

      &:first-child td {
        padding-top: 10px;
      }

      th, td {
        padding: 0;
      }

      th:last-child, td:last-child {
        padding-right: rem-calc(10);
      }
    }
    &.stats {
      font-weight: bold;
      margin-bottom: rem-calc(20);
      tr {
        background: rgba(6,66,92,.1);

        td:first-child {
          padding-left: rem-calc(10);
        }
      }

      tr:first-child td {
        border-top: rem-calc(2) solid $cobalto;
        padding-top: rem-calc(10);
      }

      tr:last-child td {
        border-bottom: rem-calc(2) solid $cobalto;
        padding-bottom: rem-calc(10);
      }
    }

    &.indicators {
      margin-bottom: rem-calc(40);

      th:first-child {
        width: 70%;
      }
    }
  }
}

// 05. Reveal
.reveal-show {
  display: inline;
}
// 06. PDF

.pdf-description {
//  max-height: rem-calc(65);
  overflow: hidden;
  max-width: rem-calc(700);
  font-size: 8px !important;

}

.pdf-approval {
    border: 1px solid #1a1a1a;
    width: 100%;
    padding-top: rem-calc(10) ;
}

.pdf-approval-data {
  font-size: 10px;
  padding-left: 20px;

  .pdf-approval-name {
    font-size: 12px;
    font-weight: bold;
  }
}
.pdf-approved {
  text-decoration: underline;
  text-align: left;
  font-size: 12px;
  font-style: oblique;
  font-weight: bold;
}

.pdf-approval-comment-title {
  font-size: 10px;
  font-weight: bold;
  padding-left: 20px;
}

.pdf-approval-comment {
  font-size: 10px;
  padding-left: 25px;
}

.pdf-total-subprocess {
  font-weight: bold;
  text-align: right;
}

.pdf-indicator-description {
  font-size: 10px !important;
}


.abstract {
  .table {

  }

  td {
    font-size: 10px;
    padding-left: 10px;
  }

  th {
    font-size: 10px;
    text-align: left;
    width: 9%;
  }

  .validated-abstract {
    width: 60%;
  }

  .unit {
    margin-top: 50px;
  }
  table, tr, td, th, tbody, thead, tfoot {
    page-break-inside: avoid !important;
  }
}

.docs {

    margin-left: rem-calc(100);
}

// pagination
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
    padding : 0;
    float: none;
    border: none;
  }
  .prev {
    padding : 0;
    float: none;
    border: none;
  }
  .page{
    padding : 0;
    float: none;
    border: none;
  }
  .next{
    padding : 0;
    float: none;
    border: none;
  }
  .last{
    padding : 0;
    float: none;
    border: none;
  }
}

#td_button {
  margin-left: rem_calc(50);
}

fieldset {
  border: 1px solid $border;;
}

legend {
  padding: 0.2em 0.5em;
  border: 1px solid $border;;
  text-align: left;
}

table#assignment-example {
  width: 100px;
}

table#admin-indicator-metric {
  margin-left: 5%;
}

.period_open {
  font-weight: bold;
  color: #27c236;
  }

.period_closed {
  font-weight: bold;
  color: red;
  }

.source-automatic {
  color:blue;
}


