/* Styles for print */

.logo-gif {
    display: block;
}

.hide-for-print {
    display: none !important;
}

/* Entry indicators */

table, table tr, table th, table td {
    border: 1px solid #6f6f6f !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
}

table {
    table-layout: fixed !important;
    width: 100% !important;
}

table caption {
    text-align: left !important;
}

th.indicator-description {
  width: 55% !important;
  background-color: #CCCCCC !important;
 }

th.indicator-group {
  background-color: #CCCCCC !important;
}

th.indicator-metric td.indicator-metric {
    text-align: left !important;
    padding-left: 50px !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
}

/*  headers */
.corporativo {
    clear: left;
    display: block !important;
    border: 1px solid #6f6f6f !important;
    background-color: #06425C !important;
    color: white !important;
    text-align: center !important;
    margin-top: 25px;
}

.main-process{
    page-break-before: always;
    display: block !important;
    border: 1px solid #6f6f6f !important;
    background-color: #06425C !important;
    text-align: center !important;
    color: white;
    margin-top: 100px !important;
}

.sub-process {
    color: white !important;;
    background: #0C766E !important;
}

.unit{
    display: block !important;
    border: 1px solid #06425C !important;
    background-color: #e0cbba !important;
    text-align: center !important;
    margin: 25px !important;
}

/* input */

input {
    border:0 !important;
    padding-left: 5px !important;
    width: 50px !important;
    background-color: inherit;
}

/* indicator row */
.indicator-row{
    background-color: #eeeeee !important;
}

.indicator_staff_quantity, .indicator-metric-amount {
    text-align: center !important;
}

/* indicator-metric table  */

.indicator-metric, .indicator-source{
    width: 45%;
}


/* staff table unit sub-process*/
table.staff {
    margin-bottom: 20px !important;;
    width: 65% !important;
    margin-left: 125px  !important;
}

caption.staff {
    margin-top: 20px;
    text-align: center  !important;
    font-weight: bold  !important;
    border: 1px solid #6f6f6f !important;
    background-color: #eeeeee !important;
    width: 100% !important;
}

th.staff td.staff {
    padding-left: 15px !important;
    padding-right: 5px !important;
    border-spacing: 0 !important;
    border-collapse: collapse !important;
}

.staff-td {
    text-align: right !important;
    border: 1px solid #06425C !important;
}

.staff-th {
text-align: left !important;
background-color: #eeeeee !important;
padding-left: 5px !important;
border-spacing: 0 !important;
border-collapse: collapse !important;
}

.staff-th-position {
text-align: left !important;
background-color: #EEEEEE !important;
padding-left: 5px !important;
border-spacing: 0 !important;
border-collapse: collapse !important;
width: 90px !important;
}

/* justification */
.justification {
    text-align: center !important;
    background-color: #EEEEEE !important;
    margin-top: 10px !important;
    padding: 0 !important;
}

textarea.justification {
    width: 95% !important;
    border: 0 !important;
    margin-top: 0 !important;
    padding-top: 0 !important;
}

/* notice */
#notice{
    display: none !important;
}

/* approval unit data */

.approval {
    display: block !important;
    border: 1px solid #bcbcbc !important;
    background-color: #eeeeee !important;
    width: 70% !important;
    margin-left: 100px !important;
    margin-top: 20px !important;
    margin-botton: 20px !important;
    padding-top: 10px !important ;

}
p.approval-data, p.approval-comment, p#pending-title  {
    font-weight: bold !important;
}

p#pending-title {
    text-align: center !important;
}

p.approval-data {
    padding-left: 50px !important;
}

p.approved{
    font-weight: bold  !important;
    font-style: italic !important;
    text-decoration: underline !important;
    text-align: center !important;
    padding: 10px  !important;
}

div.approval-pending {
    display: block !important;
    border: 1px solid #bcbcbc !important;
    background-color: lightpink !important;
    width: 70% !important;
    margin-left: 180 !important;
    margin-top: 20px !important;
    margin-botton: 20px  !important;
    padding-top: 10px  !important;
    border: 1px solid #bcbcbc !important;
    padding: 10px  !important;
}
