// Table of Contents
//
// 01. Typography
// 02. Colors
// 03. Forms
// 04. Alerts
// 05. Levels
// 06. Responsive
// 07. Banners
//

// 01. Typography
// - - - - - - - - - - - - - - - - - - - - - - - - -

$font-logo:           'Lato' !important;
$font-sans:           'Source Sans Pro', 'Helvetica', 'Arial', sans-serif !important;

$font-normal:         400;
$font-bold:           700;

$base-font-size:      rem-calc(17);
$base-line-height:    rem-calc(26);

$h1-font-size:        rem-calc(44);
$h1-line-height:      rem-calc(57);

$h2-font-size:        rem-calc(34);
$h2-line-height:      rem-calc(44);

$h3-font-size:        rem-calc(24);
$h3-line-height:      rem-calc(31);

$h4-font-size:        rem-calc(19);
$h4-line-height:      rem-calc(25);

$h5-font-size:        rem-calc(16);
$h5-line-height:      rem-calc(21);

$h6-font-size:        rem-calc(13);
$h6-line-height:      rem-calc(17);

$small-font-size:     rem-calc(14);
$tiny-font-size:      rem-calc(10);
$line-height:         rem-calc(24);

// 02. Colors
// - - - - - - - - - - - - - - - - - - - - - - - - -

// ColorCombo8920

$morado: #814374;
$morado-claro: #c9a4c1;
$turquesa: #0c766e;
$teja: #9c2b53;
$oro: #CDBB79;
$perla: #F2F2F2;
$cobalto: #a2a2a2;
$gris: #d0d0ca;
$verde: #3ca13a;
$peach: #F4D6BC;


$brand:             #004A83;
$body:              #E9E9E9;
$background:        #EDEFF0;
$border:            #DEE0E3;
$dark:              darken($brand, 10%);

$text:              #222222;
$text-medium:       #999999;
$text-light:        #CCCCCC;

$link:              #2895F1;
$link-hover:        #2178BF;

$unit:           #008CCF;
$debates:           #008CCF;
$votes-bg:          #26AEEE;
$votes-border:      #1F94CB;

$votes-like:        #7BD2A8;
$votes-like-act:    #5D9E7F;
$votes-unlike:      #EF8585;
$votes-unlike-act:  #BD6A6A;

$delete:            #F04124;
$check:             #46DB91;

$proposals:         #FFA42D;
$proposals-border:  #CC8425;

$budget:            #454372;

$highlight:         #E7F2FC;
$featured:          #FED900;

$footer-bg:         #DEE0E2;
$footer-color:      #171819;
$footer-link:       #454A4C;
$footer-border:     #BFC1C3;


// 03. Forms
// - - - - - - - - - - - - - - - - - - - - - - - - -

$input-bg:          #F8F8F8;

// 04. Alerts
// - - - - - - - - - - - - - - - - - - - - - - - - -

$success-bg: #03c213;
$success-border:    #D6E9C6;
$success-color:     #3C763D;

$info-bg:	        #D9EDF7;
$info-border:       #BCE8F1;
$info-color:        #31708F;

$warning-bg:        #FCF8E3;
$warning-border:    #FAEBCC;
$warning-color:     #8A6D3B;

$alert-bg:          #F04124;
$alert-border:      #EBCCD1;
$alert-color: #040404;

// 05. Levels
// - - - - - - - - - - - - - - - - - - - - - - - - -

$level-1:           #1ABC9C;
$level-2:           #43AC6A;
$level-3:           #43AC6A;
$level-4:           #43AC6A;
$level-5:           #F08A24;

$author:            #008CCF;
$association:       #C0392B;
$deleted:           #E7E7E7;

$comment-author:    rgba(45,144,248,.15);
$comment-level-5:   rgba(255,241,204,1);
$comment-admin:     rgba(45,144,248,.15);
$comment-official:  rgba(70,219,145,.3);

// 06. Responsive
// - - - - - - - - - - - - - - - - - - - - - - - - -

$small:             rem-calc(480);
$small-breakpoint:  rem-calc(640);
$medium-breakpoint: rem-calc(1024);
$large-breakpoint:  rem-calc(1440);
$xlarge-breakpoint: rem-calc(1920);

// 07. Banners
// - - - - - - - - - - - - - - - - - - - - - - - - -

$banner_one-bg:     #FED900;
$banner_two-bg:     #33DADF;
$banner_three-bg:   #454372;
