<div class="dashboard">
  <h2><%= t('supervisor.dashboard.index.title') %></h2>

  <p>Desde aquí puedes definir los parámetros para estructurar la recogida de datos mediante las siguientes acciones:</p>

  <h3>Configurar Periodos</h3>
  <p>Esta acción permite abrir nuevos periodos para la recogida de información.
  Los periodos son independientes para cada uno de los tipos de unidades: SGT, JD, etc. (Los tipos de unidades se administran desde este otra opción de este menú).
  Por cada periodo se define: </p>
  <ul>
    <li> &nbsp;el tipo de unidad al que aplica</li>
    <li> &nbsp;el periodo al que corresponden los datos</li>
    <li> &nbsp;las fechas de inicio y fin de recogida de datos, cuando en la aplicación quedará abierta la recogida de dattos las unidades</li>
  </ul>
  <p>Al crear un nuevo periodo se permite utilizar como modelo un periodo anterior y modificar unicamente los datos que varíancon la siguente opción del menu.
  </p>

    <h5>Procesos, subprocesos, tareas e indicadores</h5>
      <p>Estas opciones permiten <strong> añadir, eliminar o modificar</strong> los distintos items que se utilizaran en el análisis de la carga de trabajo de las unidades. Para cada tipo de unidad se puedan incluir items distintos</p>
      <p>Hay que tener en cuenta que estos datos son modificables unicamente si el periodo aún no está abierto a la introducción de datos por las unidades</p>

  <h3>Usuarios </h3>
  Desde esta opción se realiza la gerstin de usuarios y sus permisos.
    <ul>
      <li>
        <strong>Usuarios</strong>
        <p> Se crea con su login de ayre y su información se importa. Permimte exportar la lista de los usuarios</p>
      </li>
      <li>
        <strong>Acceso </strong>
        <p> Se da acceso a la aplicación desde ayre.</p>
      </li>

      <li>
        <strong>Roles y permisos</strong>
        <p> Se asignan los roles y el ámbito de sus autorizaciones.</p>
      </li>
    </ul>

  <h3>Rpt de unidades </h3>
  En este menú se muestran las opciones relacionadas con la Rpt de las unidades
  <ul>
    <li>Consulta de RPT de las unidades, cuya carga ha sido realizada por el administrador de la aplicación)</li>
    <li>Modificación y carga de RPT a las unidades par un periodo </li>
    <li>Exportación de datos de RPT</li>
  </ul>

  <h3>Informes </h3>
  En este menú aparecen los informes y listados de la aplicación
  <ul>
    <li>
      <strong>Entrada de datos por periodo</strong>
      <p>con esta opción se puede consultar la situación de la entrada de datos para un periodo y para cada una de las unidades. </p>
      <ul>
        <li>Validaciones de datos</li>
        <li>Cambios de plantillas</li>
        <li>Visto bueno</li>
      </ul>
    </li>
  </ul>

</div>
