<div class="row">
  <div class="small-12 columns">
    <p><%= render 'shared/back' %><br></p>
    <div class="radius secondary label">
      <h4><%= @user.login %> <%= @user.full_name %></h4>
    </div>

  </div>
</div>

<%= render 'form' %>

