<%= render "admin/shared/index" %>

<h2><%= t("admin.indicators.index.title") %></h2>
<p>
  <%= link_to t("admin.indicators.index.create"),
              new_admin_indicator_path,
              class: "button large success " %>
</p>
  <% if @indicators.nil? %>

  <% else %>
    <%= render 'item_list' %>
  <% end %>
</p>