<%= render partial: 'manager/shared/header',
           locals: {title: t("manager.periods.#{action_name}.title"), button: t("manager.periods.index.button.create"),
                    path: new_manager_period_path, modifiable: 'true',
                    period: nil, main_process: nil, sub_process: nil, indicator: nil  } %>

<div>
  <% if @periods.nil? || @periods.empty? %>
    <strong> <%=t("manager.periods.index.empty") %> </strong>
  <% else %>
    <%=  render 'item_list' %>
  <% end %>
</div>
