<div class="banner-new row">

  <div class="small-12 column">
    <%= link_to manager_periods_path, class: "back" do %>
      <span class="icon-angle-left"></span>
      <%= t("manager.actions.back") %>
    <% end %>

    <h1><%= t("manager.periods.new.title") %></h1>

    <%= render "form" %>
  </div>
</div>