<%= render "shared/back" %>

<div class="row">

  <div class="expanded small-12 column">
    <h2><%= t("manager.periods.new.title") %></h2>
  </div>

  <div class="small-12 column">
    <%= render "form" %>
  </div>

</div>
