<div class="row">
  <div class="small-12 columns">
    <div class="small-8 columns">
      <h2><%= t("manager.#{MainProcess.name.underscore.pluralize}.#{action_name}.title") %>  </h2>
      <br>
    </div>
    <div  class="small-1 columns">
      <%= render "shared/back" %>
    </div>
  </div>
</div>
