<div> <br><br></div>
<div class="expanded highlight padding no-margin-top">
  <center>
    <div>
    <%= image_tag('en_obras.png', class: 'float-center', size: '40x40', alt: t("layouts.header.logo")) %>

    <h3>Página en desarrollo</h3>
    <strong><%= link_to "Volver", admin_root_path %></strong>
  </div>
  </center>
</div>