<div> <br><br></div>
<div class="expanded highlight padding no-margin-top">
  <div>
    <%= image_tag('en_obras.png', class: 'float-center', size: '40x40', alt: t('layouts.header.logo')) %>

    <h3><%= t('admin.shared.in_works') %></h3>
    <a class="back" href="javascript:history.back()">
      <span class="icon-angle-center"></span>
      <%= t('actions.back') %>
    </a>
  </div>
</div>
