<%= render "admin/shared/index" %>


<%= link_to 'New Stat', new_admin_stat_path %>
<h2><%= t("admin.stats.index.title") %></h2>
  <% if @stats.nil? %>
    No hay datos hay que generar
  <% else %>
    <%= render 'item_list' %>
  <% end %>
</p>
